<%= form_for @costume do |f| %>
    
    <% if !@costume.role%>

        <%= f.label :role %>
        <%= f.text_field :role %> <br>

    <% else %>

        <p>Role: <%= @costume.role %></p>

    <% end%>
    

    <%= f.label :description %> <br>
    <%= f.text_area :description %> <br>

    <%= f.label :finished_WIP, 'Work in Progress' %>
    <%= f.radio_button :finished, false %> <br>
    
    <%= f.label :finished_done, 'Costume Complete' %>
    <%= f.radio_button :finished, true %> <br>

    <%= f.label :authentic_true, 'Historical style' %>
    <%= f.radio_button :authentic, true %> <br>

    <%= f.label :authentic_false, 'Fantasy Style' %>
    <%= f.radio_button :authentic, false %> <br>

    <% if !@costume.role %>

        <%= f.label :actor_id, 'Select an Actor' %>
        <%= f.collection_select :actor_id, @actors, :id, :name %> <br>

        Or <br>

        <%= f.fields_for :actor do |actor_fields| %>
            <%=actor_fields.label :name, 'Add an Actor'%>
            <%= actor_fields.text_field :name %> <br>
        <% end %>

    <% else%>

        <p>Actor: <%= @costume.actor.name %></p>

    <% end%>

    <%= f.submit %>

<% end %>