<div class="view-header">
    <h1><%= current_user.name %>'s Costumes</h1>
</div>

<div id="costume-filter">
    <%= form_tag("/costumes", method: "get") do%>
        Filter by Authenticity: <%= select_tag "authenticity", options_for_select(["Fantasy", "Historic"]), include_blank: true %> <br>
        OR <br>
        Filter by Status: <%= select_tag "status", options_for_select(["Work in Progress", "Finished"]), include_blank: true %> <br>
        <%= submit_tag "Filter" %>
    <% end %>
</div>

<div class="costume-list">
    <%= link_to "Add a Costume", new_costume_path %>
    <br>
    <ul>
        <% @costumes.each do |costume|%>
            <li>
                <%= link_to costume.role, costume_path(costume) %> -  
                For <%= link_to costume.actor.name, actor_path(costume.actor) %>
            </li>
        <% end%>
    </ul>
</div>