<h1><%= @costume.role %></h1>

    <h3>Actor: <%= link_to @costume.actor.name, actor_path(@costume.actor) %> </h3>

    <% if @costume.finished%>
        <h3>Construction Completed</h3>
    <% else%>
        <h3>Work in Progress</h3>
    <% end%>

    <% if @costume.authentic%>
        <h3>Style: Historically Authentic </h3>
    <% else%>
        <h3>Style: Fantasy</h3>
    <% end%>

    <h3>Description</h3>
        <p><%= @costume.description %></p>
    
    <% if params[:actor_id] %>
        <%= link_to 'Edit', edit_actor_costume_path(@costume.actor, @costume) %>
    <% else %>
        <%= link_to 'Edit', edit_costume_path(@costume) %>
    <% end %>
    <%= button_to 'Delete', @costume,  method: "delete" %>