<!DOCTYPE html>
<html>
  <head>
    <title>CostumeRoom</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <nav>
    <% if user_signed_in? %>
      <%= button_to 'logout', destroy_user_session_path, method: :delete %>
    <% else %>
      <p><%= button_to 'Sign Up', signup_path, method: :get %> or <%= button_to 'Log In', login_path, method: :get  %></p>
    <% end%>
    </nav>

    <%= yield %>
  </body>
</html>
